# **This is a student record system**

In [1]:
import pandas as pd # import the pandas library for data reading and saving

In [2]:
# Load information from file
file_data = pd.read_csv("/content/Student File.csv")

In [3]:
# Read the data from the loaded file
students_data = pd.DataFrame(file_data)

Load Students information into a list of tuples to make it readable by the interpreter

In [60]:
'''
Open a list Called students to make the information 
in the list to imply algorithms
'''
Students = [] # Empty list
Student_Name = students_data["Student Name"]
Student_marks = students_data["Grades"]
count = 0

'''
Start a loop to guarantee the addtion of each name
in the file storing the students info is 
stored in the list with their student ID.
'''
for i in students_data["Student ID"]:
    t = (i, Student_Name[count], Student_marks[count])
    Students.append(t)
    count += 1

In [61]:
Students # To display the unsorted Students list

[(1295, 'Anas', 98),
 (1147, 'Abdulelah', 45),
 (1170, 'Abdulsalam', 76),
 (1283, 'Abdulrahman', 54),
 (1120, 'Abdulgaleel', 97),
 (1179, 'Sahar', 67),
 (1128, 'Abdullah', 74),
 (1226, 'Omar', 39),
 (1274, 'Omair', 99),
 (1158, 'Yazan', 23),
 (1219, 'Own', 34),
 (1232, 'Mahmoud', 45),
 (1273, 'Lara', 64),
 (1130, 'Sarah', 95),
 (1138, 'Zaid', 89),
 (1203, 'Olga', 77),
 (1186, 'Talal', 100),
 (1221, 'Jawad', 43),
 (1228, 'Lubna', 81),
 (1243, 'Najwan', 42),
 (1132, 'Ehab', 74),
 (1155, 'Limar', 63),
 (1122, 'Yara', 100),
 (1278, 'Lilyan', 99),
 (1201, 'Ibrahim', 91),
 (1119, 'Bana', 43),
 (1154, 'Alaa', 86),
 (1229, 'Siham', 44),
 (1183, 'Iyad', 79),
 (1194, 'Ahmad', 23),
 (1287, 'Mustafa', 0),
 (1299, 'Laith', 82),
 (1195, 'Mohammad', 74),
 (1162, 'Osama', 30),
 (1199, 'Al Waleed', 35),
 (1262, 'Yaseen', 71),
 (1184, 'Fares', 54),
 (1231, 'Tariq', 99),
 (1296, 'Leen', 96),
 (1174, 'Hind', 92),
 (1110, 'John', 100),
 (1166, 'Michael', 74),
 (1298, 'Zack', 88),
 (1204, 'Cody', 43),
 (1198, 'Ismail', 75),
 (1202, 'Bader', 45),
 (1293, 'Saeed', 33),
 (1215, 'Ghaith', 21),
 (1189, 'Abdulmoamen', 99),
 (1180, 'Abdulhadi', 32)]

In [6]:
# A function to sort the list in order by ID
def bubbleSort_ID(array): 
    # array: is the unsorted list

    n = len(array)
    swapped = False # If the array is already sorted  it does not
                    # need to go through the entire process

    # Go through all array elements
    for i in range(n-1):
        # (n-1) For the loop not to repeat one time more than needed.
        for j in range(0, n-i-1):
            '''
            Traverse the array from 0 to n-i-1
            Swap if the element found is greater than the next element
            '''
            if array[j] > array[j + 1]:
                swapped = True
                array[j], array[j + 1] = array[j + 1], array[j]
        '''
        If we haven't needed to make a single swap, we
        Can just exit the main loop.
        '''  
        if not swapped:
            return

In [26]:
# Apply the ID bubblesort function on the students list
bubbleSort_ID(Students)

In [9]:
# Use a predefined function to sort the list by alphabatical order
def bubbleSort_Name(array): 
    # array: is the unsorted list

    n = len(array)
    swapped = False # Optimize code, so if the array is already sorted
                    # it doesn't need to go through the entire process

    # Go through all array elements
    for i in range(n-1):
        # (n-1) For the loop not to repeat one time more than needed.
        for j in range(0, n-i-1):
            '''
            Traverse the array from 0 to n-i-1
            Swap if the element found is greater than the next element
            '''
            if array[j][1] > array[j + 1][1]:
                swapped = True
                array[j], array[j + 1] = array[j + 1], array[j]
        '''
        If we haven't needed to make a single swap, we
        Can just exit the main loop.
        '''  
        if not swapped:
            return

In [20]:
# Apply the Name bubblesort function on the students list 
bubbleSort_Name(Students)

In [27]:
Students # To display the Sorted Students list

[(1110, 'John', 100),
 (1119, 'Bana', 43),
 (1120, 'Abdulgaleel', 97),
 (1122, 'Yara', 100),
 (1128, 'Abdullah', 74),
 (1130, 'Sarah', 95),
 (1132, 'Ehab', 74),
 (1138, 'Zaid', 89),
 (1147, 'Abdulelah', 45),
 (1154, 'Alaa', 86),
 (1155, 'Limar', 63),
 (1158, 'Yazan', 23),
 (1162, 'Osama', 30),
 (1166, 'Michael', 74),
 (1170, 'Abdulsalam', 76),
 (1174, 'Hind', 92),
 (1179, 'Sahar', 67),
 (1180, 'Abdulhadi', 32),
 (1183, 'Iyad', 79),
 (1184, 'Fares', 54),
 (1186, 'Talal', 100),
 (1189, 'Abdulmoamen', 99),
 (1194, 'Ahmad', 23),
 (1195, 'Mohammad', 74),
 (1198, 'Ismail', 75),
 (1199, 'Al Waleed', 35),
 (1201, 'Ibrahim', 91),
 (1202, 'Bader', 45),
 (1203, 'Olga', 77),
 (1204, 'Cody', 43),
 (1215, 'Ghaith', 21),
 (1219, 'Own', 34),
 (1221, 'Jawad', 43),
 (1226, 'Omar', 39),
 (1228, 'Lubna', 81),
 (1229, 'Siham', 44),
 (1231, 'Tariq', 99),
 (1232, 'Mahmoud', 45),
 (1243, 'Najwan', 42),
 (1262, 'Yaseen', 71),
 (1273, 'Lara', 64),
 (1274, 'Omair', 99),
 (1278, 'Lilyan', 99),
 (1283, 'Abdulrahman', 54),
 (1287, 'Mustafa', 0),
 (1293, 'Saeed', 33),
 (1295, 'Anas', 98),
 (1296, 'Leen', 96),
 (1298, 'Zack', 88),
 (1299, 'Laith', 82)]

Binary Search algorithm to look for index of certain ID

In [12]:
# Returns index of x in arr if present, else -1 if not present.
def binary_Search_ID(arr, low, high, x):
    '''
		arr: Sorted list
		low: The lowest index in the list
		High: The highest index in the list
		x: The element the user is looking for
		'''
    bubbleSort_ID(Students)
    # Check base case
    if high >= low:
 
        mid = (low + high) // 2
 
        # If element is present at the middle
        if arr[mid][0] == x:
            return mid
 
        # If element is smaller than mid, then it
        # is present in left subarray
        elif arr[mid][0] > x:
            return binary_Search_ID(arr, low, mid-1, x)
 
        # Else the element can only be present in right subarray
        else:
            return binary_Search_ID(arr, mid + 1, high, x)
 
    else:
        # Element is not present in the array
        print("ID requested is not in the list")

Try the binary search function

In [17]:
# Get ID input from the user to display index
ID_Binary = int(input("Please Enter the ID you want to find: "))
binary_Search_ID(Students, 0, len(Students), ID_Binary)

Please Enter the ID you want to find: 800
ID requested is not in the list

In [18]:
# Returns index of x in the array if present, else -1 if not present.
def binary_Search_Name(arr, low, high, x):
    '''
		arr: Sorted list
		low: The lowest index in the list
		High: The highest index in the list
		x: The element the user is looking for
		'''
    bubbleSort_Name(Students)
    # Check base case
    if high >= low:
 
        mid = (low + high) // 2
 
        # If element is present at the middle
        if arr[mid][1] == x:
            return mid
 
        # If element is smaller than mid, then it
        # is present in left subarray
        elif arr[mid][1] > x:
            return binary_Search_Name(arr, low, mid-1, x)
 
        # Else the element can only be present in right subarray
        else:
            return binary_Search_Name(arr, mid + 1, high, x)
 
    else:
        # Element is not present in the array
        print("Name requested is not in the list")

In [23]:
# Get Name input from the user to display index
Name_Binary = str(input("Please Enter the Name you want to find: "))
binary_Search_Name(Students, 0, len(Students)-1, Name_Binary)

Please Enter the Name you want to find: Adam
Name requested is not in the list

Sequential Search algorithm to look for index of certain ID

In [24]:
'''
Linearly search x in arr[].
If x is present then return its location,
otherwise return -1 if not present
''' 
def linear_Search_ID(arr, N, x):
    '''
    arr: The sorted list
    N: Total number of elements/length
    x: The element the user is looking for
    '''
    bubbleSort_ID(Students) # To have the list ordered by ID
    for i in range(0, N): 
        if arr[i][0] == x:
            return i # If element present in the list, return the index
    return -1

Try the sequential search algorithm

In [29]:
# Get ID input from the user to display index
ID_Sequential = int(input("Please Enter the ID you want to find: "))
linear_Search_ID(Students, len(Students), ID_Sequential)

Please Enter the ID you want to find: 800

-1

In [30]:
'''
Linearly search x in arr[].
If x is present then return its location,
otherwise return -1 if not present
''' 
def linear_Search_Name(arr, N, x):
    '''
    arr: The sorted list
    N: Total number of elements/length
    x: The element the user is looking for
    '''
    bubbleSort_Name(Students) # To have the list ordered by Name  Alphabtically
    for i in range(0, N):
        if arr[i][1] == x:
            return i # If element present in the list, return element
    return -1

In [31]:
# Get ID input from the user to display index
Name_Sequential = str(input("Please Enter the Name you want to find: "))
linear_Search_Name(Students, len(Students), Name_Sequential)

Please Enter the Name you want to find: Sahar

40

In [32]:
# Adds students to the list
def add_student(student_ID, student_Name, student_grade):
    Student_IDS=[] # Open list of ID's
    for x in range (len(Students)):
        Student_IDS.append(Students[x][0]) # Appends all ID's into the list

    
    # Add the info typed in except if the ID is not already in the list
    if student_ID not in Student_IDS and student_grade <= 100:
        Students.append((student_ID, student_Name, student_grade))
        bubbleSort_ID(Students) # To resort the list after appending
        print("Student added successfully")
    else:
        print("ID exists in the list and/or Student mark more than 100")

Add a student to the list

In [63]:
add_student(8000, "Marzooq", 64)

ID exists in the list and/or Student mark more than 100

In [35]:
Students # To see the new student in the list

[(1110, 'John', 100),
 (1117, 'Marzooq', 64),
 (1119, 'Bana', 43),
 (1120, 'Abdulgaleel', 97),
 (1122, 'Yara', 100),
 (1128, 'Abdullah', 74),
 (1130, 'Sarah', 95),
 (1132, 'Ehab', 74),
 (1138, 'Zaid', 89),
 (1147, 'Abdulelah', 45),
 (1154, 'Alaa', 86),
 (1155, 'Limar', 63),
 (1158, 'Yazan', 23),
 (1162, 'Osama', 30),
 (1166, 'Michael', 74),
 (1170, 'Abdulsalam', 76),
 (1174, 'Hind', 92),
 (1179, 'Sahar', 67),
 (1180, 'Abdulhadi', 32),
 (1183, 'Iyad', 79),
 (1184, 'Fares', 54),
 (1186, 'Talal', 100),
 (1189, 'Abdulmoamen', 99),
 (1194, 'Ahmad', 23),
 (1195, 'Mohammad', 74),
 (1198, 'Ismail', 75),
 (1199, 'Al Waleed', 35),
 (1201, 'Ibrahim', 91),
 (1202, 'Bader', 45),
 (1203, 'Olga', 77),
 (1204, 'Cody', 43),
 (1215, 'Ghaith', 21),
 (1219, 'Own', 34),
 (1221, 'Jawad', 43),
 (1226, 'Omar', 39),
 (1228, 'Lubna', 81),
 (1229, 'Siham', 44),
 (1231, 'Tariq', 99),
 (1232, 'Mahmoud', 45),
 (1243, 'Najwan', 42),
 (1262, 'Yaseen', 71),
 (1273, 'Lara', 64),
 (1274, 'Omair', 99),
 (1278, 'Lilyan', 99),
 (1283, 'Abdulrahman', 54),
 (1287, 'Mustafa', 0),
 (1293, 'Saeed', 33),
 (1295, 'Anas', 98),
 (1296, 'Leen', 96),
 (1298, 'Zack', 88),
 (1299, 'Laith', 82)]

Algorithm to Remove students from the List by ID

In [39]:
# Removes student from the list by ID
def remove_student(ID_to_remove):
    # Looks through the list for the targeted ID
    for i in range (len(Students)-1):
        if Students[i][0] == ID_to_remove: # Checks for a match to the element
            # Once found, removes all info related to the student
            Students.remove(Students[i])

  Remove a student from the list

In [40]:
remove_student(1296)

In [41]:
Students # To see the removed student

[(1110, 'John', 100),
 (1117, 'Marzooq', 64),
 (1119, 'Bana', 43),
 (1120, 'Abdulgaleel', 97),
 (1122, 'Yara', 100),
 (1128, 'Abdullah', 74),
 (1130, 'Sarah', 95),
 (1132, 'Ehab', 74),
 (1138, 'Zaid', 89),
 (1147, 'Abdulelah', 45),
 (1154, 'Alaa', 86),
 (1155, 'Limar', 63),
 (1158, 'Yazan', 23),
 (1162, 'Osama', 30),
 (1166, 'Michael', 74),
 (1170, 'Abdulsalam', 76),
 (1174, 'Hind', 92),
 (1179, 'Sahar', 67),
 (1180, 'Abdulhadi', 32),
 (1183, 'Iyad', 79),
 (1184, 'Fares', 54),
 (1186, 'Talal', 100),
 (1189, 'Abdulmoamen', 99),
 (1194, 'Ahmad', 23),
 (1195, 'Mohammad', 74),
 (1198, 'Ismail', 75),
 (1199, 'Al Waleed', 35),
 (1201, 'Ibrahim', 91),
 (1202, 'Bader', 45),
 (1203, 'Olga', 77),
 (1204, 'Cody', 43),
 (1215, 'Ghaith', 21),
 (1219, 'Own', 34),
 (1221, 'Jawad', 43),
 (1226, 'Omar', 39),
 (1228, 'Lubna', 81),
 (1229, 'Siham', 44),
 (1231, 'Tariq', 99),
 (1232, 'Mahmoud', 45),
 (1243, 'Najwan', 42),
 (1262, 'Yaseen', 71),
 (1273, 'Lara', 64),
 (1274, 'Omair', 99),
 (1278, 'Lilyan', 99),
 (1283, 'Abdulrahman', 54),
 (1287, 'Mustafa', 0),
 (1293, 'Saeed', 33),
 (1295, 'Anas', 98),
 (1298, 'Zack', 88),
 (1299, 'Laith', 82)]

Algorithm that updates already existing student info in the list by ID

In [42]:
# Algorithm that updates already existing student info in the list by ID
def update_student(Student_Id, Updated_student_name, updated_mark):
    
    '''
    Loop goes through all elements of the
    student list till it matches
    the student ID
    '''
    for i in range(len(Students)):
        if Students[i][0] == Student_Id:
            # Once Matched, the Name and Grade changes
            Students[i]= (Student_Id ,Updated_student_name, updated_mark)
            print("Info updated successfully")

Update student information inside the list

In [ ]:
update_student(1295, 'Anas', 20)

In [ ]:
Students # To check whether the updates are there or not

In [46]:
# Function to find the number of students registered in the system
def Count(array):
    # array: the list (sorted or unsorted)
    print(len(array))

In [ ]:
Count(Students)

In [52]:
Final_Students_List = pd.DataFrame(Students) # To change it to a data frame

In [53]:
# Changes column names
Final_Students_List.columns = ["Student ID", "Student Name", "Student Grade"]

In [59]:
# To save the data frame as a CSV file
Final_Students_List.to_csv("/content/Student File.csv")